<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <form>
      <label>
        <input  #newTodoInput
                name        = "newTodoInput"
                class       = "new-todo"
                placeholder = "Well well well... what's next ?"
                autofocus
                (keyup.enter)="addItem()"
                [(ngModel)]="newTodoInputValue"
        />
      </label>
    </form>
  </header>
  <section class="main" *ngIf="items.length > 0">
    <label>
      <input  class="toggle-all"
              type="checkbox"
              name="toggleAll"
      />
    </label>
    <ul class="todo-list">
      <li
        *ngFor="let todoListItem of items"
      >
        <app-todo-item [item]="todoListItem"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong></strong> item left</span>
    <ul class="filters">
      <li>
        <a class="filterAll">All</a>
      </li>
      <li>
        <a class="filterActives">Active</a>
      </li>
      <li>
        <a class="filterCompleted">Completed</a>
      </li>
    </ul>
    <button class="clear-completed">Clear completed</button>
  </footer>
</section>
<hr/>
