<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <form>
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Well well well... what's next ?"
              autofocus
              (keyup.enter)="addItem()"
              [(ngModel)]="newTodoInputValue"
      />
    </form>
  </header>
  <section class="main" *ngIf="items.length > 0">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="toggleAllItems()"
            [checked]="allCompleted()"
    />
    <ul class="todo-list">
      <li
        *ngFor="let todoListItem of filterItems()"
        [class.completed]="todoListItem.isDone"
        [class.editing]="itemComponent.editionMode"
      >
        <app-todo-item #itemComponent [item]="todoListItem"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>{{ numberOfItemsLeft() }}</strong>
      {{ numberOfItemsLeft() > 1 ? "items" : "item" }} left
    </span>
    <ul class="filters">
      <li>
        <a class="filterAll" [ngClass]="{ selected: filter === 'all' }" (click)="filter = 'all'">
          All
        </a>
      </li>
      <li>
        <a class="filterActive" [ngClass]="{ selected: filter === 'active' }" (click)="filter = 'active'">
          Active
        </a>
      </li>
      <li>
        <a class="filterCompleted" [ngClass]="{ selected: filter === 'completed' }" (click)="filter = 'completed'">
          Completed
        </a>
      </li>
    </ul>
    <button class="clear-completed" (click)="deleteAllItemsChecked()">completed</button>
    <span class="clear-completed-text">&nbsp;|&nbsp;</span>
    <button class="clear-completed" (click)="deleteAllItems()">all</button>
    <span class="clear-completed-text"> Clear : &nbsp;</span>
  </footer>
</section>
